@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Questrial&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alice&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.app__header {
  background-color: rgb(255, 255, 255);
  height: 10vh;
  /* border-bottom: 1px solid gray; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

.app__header__left__chem {
  font-size: 4vh;
  font-weight: 800;
  font-family: "Archivo Black", sans-serif;
  color: tomato;
}
.app__header__left__swot {
  font-weight: 500;
  font-family: sans-serif;
  color: black;
}

.app__header__right {
  width: 35vw;
  font-size: 28px;
  font-family: "Alice", serif;
  display: flex;
  justify-content: space-between;
}

.app__header__right > a {
  text-decoration: none;
  color: black;
}
.app__header__right > a:hover {
  cursor: pointer;
  color: tomato;
}
/* Welcome component */
.welcome {
  height: 90vh;
  text-align: left;
  margin-bottom: 60px;
  background-color: rgb(255, 255, 255);
  font-family: "Archivo Black", sans-serif;
  display: flex;
}
.welcome__left {
  margin-left: 5vw;
  height: 65vh;
  margin-top: 10vh;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome__h1 {
  font-size: 6vh;
  color: red;
  font-family: "Questrial", sans-serif;
}
.welcome__h2 {
  font-size: 7vh;
  font-weight: 700;
}
.welcome__h3 {
  font-size: 4.5vh;
  font-weight: 100;
  font-family: "Questrial", sans-serif;
}
.welcome__button {
  width: 180px;
  height: 60px;
  font-size: 3.5vh;
  font-family: "Questrial", sans-serif;
  color: white;
  border: none;
  background-color: tomato;
  border-radius: 40px;
}

.welcome__right {
  margin-top: 25vh;
  margin-right: 0;
  margin-left: auto;
  height: 60vh;
  width: 35vw;
}
.welcome__img {
  height: 100%;
  width: 100%;
}
/* Features section */
.features {
  height: 100vh;
  background: url("./images/purple.jpg") no-repeat;
  background-size: cover;
  font-family: "Questrial", sans-serif;
  padding: 0 5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.features__heading1__top {
  font-size: 6vh;
  color: red;
  font-weight: 800;
}
.features__heading2 {
  display: flex;
  align-items: center;
}
.features__heading2__left {
  font-family: "Alice", serif;
  font-size: 8vh;
  font-weight: 700;
  width: 55vw;
}
.features__heading2__right {
  color: gray;
  font-size: 5vh;
  width: 45vw;
}
.features__cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-top: 5px solid white;
  align-items: center;
}
.card:hover {
  background-color: rgb(221, 217, 217);
  border-radius: 20px;
  border-top: 5px solid tomato;
}
.card__img {
  height: 80px;
}
.card__img > img {
  height: 100%;
}
.card__heading {
  font-size: 30px;
  font-weight: 700;
  width: 100%;
  margin-top: 20px;
}
.card__text {
  font-size: 25px;
  line-height: 1.6;
}

/* Offers section */

.offer {
  height: 100vh;
  background: url("./images/1.jpg") no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.offer__container {
  padding: 30px;
  height: 400px;
  background-color: #f3faff;
}

.offer__container__heading {
  font-size: 30px;
  color: red;
  font-weight: 600;
  margin-bottom: 50px;
}

.offer__container__block {
  height: 228px;
  background-color: rgba(11, 15, 235, 0.253);
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.left_side {
  display: flex;
  flex-direction: column;
}

.left_side_main_heading {
  font-size: 45px;
  font-weight: bold;
}

.left_side_sub_heading {
  font-size: 35px;
}

.left_side_button {
  font-size: 35px;
  background-color: white;
  color: rgba(11, 15, 235, 0.253);
  padding: 5px;
  width: fit-content;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
}

.center_side {
  background-color: #f3faff;
  width: 400px;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45%;
}
